config STATE_NOTIFIER
        bool "State Notifier"

config STATE_HELPER
        bool "State Helper"
	depends on STATE_NOTIFIER

config FAST_HOTPLUG
	bool "Enable fast hotplug"
	default n
	help
	  Kernel based core control.

